@import "tailwindcss";

:root {
  --yellow: #e5a533;
  --green: #5b9b37;
}

.bg-gradient {
  background-image: linear-gradient(to right, #021430, #0f1c47, #021430);
}

.bg-yellow {
  background-color: var(--yellow);
}
.text-yellow {
  color: var(--yellow);
}

.bg-green {
  background-color: var(--green);
}
.text-green {
  color: var(--green);
}

*::-webkit-scrollbar-thumb {
  background-color: #021430;
}
.popup-scrollbar::-webkit-scrollbar {
  height: 4px;
}
*::-webkit-scrollbar {
  width: 4px;
}
