.swiper-button-prev,
.swiper-button-next {
  color: white;
  transform: translateY(40%);
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}
